# /etc/systemd/system/builder@.service
[Unit]
Description=builder
After=screen@kalinda.service

[Service]
Type=idle
User=%i
ExecStart=/YOURPATH/ARepoBuilder/run-repobuild.sh
RemainAfterExit=no
